.flash-box
  グループを作成しました。

.chat
  .chat-side
    .chat-side__header
      = render partial: "header"
    .chat-side__groups
      = render partial: "groups"
  .chat-main
    .chat-main__header
      = render partial: "main"
    .chat-main__messages
      = render partial: "messages"
    .chat-main__form
      = render partial: "form"

